<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results - Hop On Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <h1>Hop On Hub</h1>
        </div>
    </nav>

    <section class="search-results">
        <h2>Available Buses</h2>
        <p id="route"></p>

        <div id="busList"></div>
    </section>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
